body {
    background-color: lightblue;
    background-image: url(https://i.pinimg.com/474x/70/ae/15/70ae151b9bd3966ebe9a8644f4d51bcb.jpg);
    background-repeat: repeat;
    background-position: center;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}
h2 {
    font-family: Arial;
    color: black;
    text-shadow: 3cap;
}